################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeeklyMealPlan/WeeklyMealPlan/.vs/WeeklyMealPlan/v15/Server/sqlite3
